@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: purple;
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: orange;
  }
}
@media (min-width: 1400px) {
  .responsive-test {
    color: pink;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-blue {
  color: #02155a;
}

.text-hover-blue:hover {
  color: #02155a;
}

.bg-blue {
  background-color: #02155a;
}

.text-blue-light-1 {
  color: #1b2c6b;
}

.text-hover-blue-light-1:hover {
  color: #1b2c6b;
}

.bg-blue-light-1 {
  background-color: #1b2c6b;
}

.text-blue-light-2 {
  color: #35447b;
}

.text-hover-blue-light-2:hover {
  color: #35447b;
}

.bg-blue-light-2 {
  background-color: #35447b;
}

.text-blue-light-3 {
  color: #4e5b8c;
}

.text-hover-blue-light-3:hover {
  color: #4e5b8c;
}

.bg-blue-light-3 {
  background-color: #4e5b8c;
}

.text-blue-light-4 {
  color: #67739c;
}

.text-hover-blue-light-4:hover {
  color: #67739c;
}

.bg-blue-light-4 {
  background-color: #67739c;
}

.text-blue-light-5 {
  color: #818aad;
}

.text-hover-blue-light-5:hover {
  color: #818aad;
}

.bg-blue-light-5 {
  background-color: #818aad;
}

.text-blue-light-6 {
  color: #9aa1bd;
}

.text-hover-blue-light-6:hover {
  color: #9aa1bd;
}

.bg-blue-light-6 {
  background-color: #9aa1bd;
}

.text-blue-light-7 {
  color: #b3b9ce;
}

.text-hover-blue-light-7:hover {
  color: #b3b9ce;
}

.bg-blue-light-7 {
  background-color: #b3b9ce;
}

.text-blue-light-8 {
  color: #ccd0de;
}

.text-hover-blue-light-8:hover {
  color: #ccd0de;
}

.bg-blue-light-8 {
  background-color: #ccd0de;
}

.text-blue-light-9 {
  color: #e6e8ef;
}

.text-hover-blue-light-9:hover {
  color: #e6e8ef;
}

.bg-blue-light-9 {
  background-color: #e6e8ef;
}

.text-blue-dark-1 {
  color: #021351;
}

.text-hover-blue-dark-1:hover {
  color: #021351;
}

.bg-blue-dark-1 {
  background-color: #021351;
}

.text-blue-dark-2 {
  color: #021148;
}

.text-hover-blue-dark-2:hover {
  color: #021148;
}

.bg-blue-dark-2 {
  background-color: #021148;
}

.text-blue-dark-3 {
  color: #010f3f;
}

.text-hover-blue-dark-3:hover {
  color: #010f3f;
}

.bg-blue-dark-3 {
  background-color: #010f3f;
}

.text-blue-dark-4 {
  color: #010d36;
}

.text-hover-blue-dark-4:hover {
  color: #010d36;
}

.bg-blue-dark-4 {
  background-color: #010d36;
}

.text-blue-dark-5 {
  color: #010b2d;
}

.text-hover-blue-dark-5:hover {
  color: #010b2d;
}

.bg-blue-dark-5 {
  background-color: #010b2d;
}

.text-blue-dark-6 {
  color: #010824;
}

.text-hover-blue-dark-6:hover {
  color: #010824;
}

.bg-blue-dark-6 {
  background-color: #010824;
}

.text-blue-dark-7 {
  color: #01061b;
}

.text-hover-blue-dark-7:hover {
  color: #01061b;
}

.bg-blue-dark-7 {
  background-color: #01061b;
}

.text-blue-dark-8 {
  color: #000412;
}

.text-hover-blue-dark-8:hover {
  color: #000412;
}

.bg-blue-dark-8 {
  background-color: #000412;
}

.text-blue-dark-9 {
  color: #000209;
}

.text-hover-blue-dark-9:hover {
  color: #000209;
}

.bg-blue-dark-9 {
  background-color: #000209;
}

.text-yellow {
  color: #ffff00;
}

.text-hover-yellow:hover {
  color: #ffff00;
}

.bg-yellow {
  background-color: #ffff00;
}

.text-yellow-light-1 {
  color: #ffff1a;
}

.text-hover-yellow-light-1:hover {
  color: #ffff1a;
}

.bg-yellow-light-1 {
  background-color: #ffff1a;
}

.text-yellow-light-2 {
  color: #ffff33;
}

.text-hover-yellow-light-2:hover {
  color: #ffff33;
}

.bg-yellow-light-2 {
  background-color: #ffff33;
}

.text-yellow-light-3 {
  color: #ffff4d;
}

.text-hover-yellow-light-3:hover {
  color: #ffff4d;
}

.bg-yellow-light-3 {
  background-color: #ffff4d;
}

.text-yellow-light-4 {
  color: #ffff66;
}

.text-hover-yellow-light-4:hover {
  color: #ffff66;
}

.bg-yellow-light-4 {
  background-color: #ffff66;
}

.text-yellow-light-5 {
  color: #ffff80;
}

.text-hover-yellow-light-5:hover {
  color: #ffff80;
}

.bg-yellow-light-5 {
  background-color: #ffff80;
}

.text-yellow-light-6 {
  color: #ffff99;
}

.text-hover-yellow-light-6:hover {
  color: #ffff99;
}

.bg-yellow-light-6 {
  background-color: #ffff99;
}

.text-yellow-light-7 {
  color: #ffffb3;
}

.text-hover-yellow-light-7:hover {
  color: #ffffb3;
}

.bg-yellow-light-7 {
  background-color: #ffffb3;
}

.text-yellow-light-8 {
  color: #ffffcc;
}

.text-hover-yellow-light-8:hover {
  color: #ffffcc;
}

.bg-yellow-light-8 {
  background-color: #ffffcc;
}

.text-yellow-light-9 {
  color: #ffffe6;
}

.text-hover-yellow-light-9:hover {
  color: #ffffe6;
}

.bg-yellow-light-9 {
  background-color: #ffffe6;
}

.text-yellow-dark-1 {
  color: #e6e600;
}

.text-hover-yellow-dark-1:hover {
  color: #e6e600;
}

.bg-yellow-dark-1 {
  background-color: #e6e600;
}

.text-yellow-dark-2 {
  color: #cccc00;
}

.text-hover-yellow-dark-2:hover {
  color: #cccc00;
}

.bg-yellow-dark-2 {
  background-color: #cccc00;
}

.text-yellow-dark-3 {
  color: #b3b300;
}

.text-hover-yellow-dark-3:hover {
  color: #b3b300;
}

.bg-yellow-dark-3 {
  background-color: #b3b300;
}

.text-yellow-dark-4 {
  color: #999900;
}

.text-hover-yellow-dark-4:hover {
  color: #999900;
}

.bg-yellow-dark-4 {
  background-color: #999900;
}

.text-yellow-dark-5 {
  color: olive;
}

.text-hover-yellow-dark-5:hover {
  color: olive;
}

.bg-yellow-dark-5 {
  background-color: olive;
}

.text-yellow-dark-6 {
  color: #666600;
}

.text-hover-yellow-dark-6:hover {
  color: #666600;
}

.bg-yellow-dark-6 {
  background-color: #666600;
}

.text-yellow-dark-7 {
  color: #4d4d00;
}

.text-hover-yellow-dark-7:hover {
  color: #4d4d00;
}

.bg-yellow-dark-7 {
  background-color: #4d4d00;
}

.text-yellow-dark-8 {
  color: #333300;
}

.text-hover-yellow-dark-8:hover {
  color: #333300;
}

.bg-yellow-dark-8 {
  background-color: #333300;
}

.text-yellow-dark-9 {
  color: #1a1a00;
}

.text-hover-yellow-dark-9:hover {
  color: #1a1a00;
}

.bg-yellow-dark-9 {
  background-color: #1a1a00;
}

.text-green {
  color: #47b700;
}

.text-hover-green:hover {
  color: #47b700;
}

.bg-green {
  background-color: #47b700;
}

.text-green-light-1 {
  color: #59be1a;
}

.text-hover-green-light-1:hover {
  color: #59be1a;
}

.bg-green-light-1 {
  background-color: #59be1a;
}

.text-green-light-2 {
  color: #6cc533;
}

.text-hover-green-light-2:hover {
  color: #6cc533;
}

.bg-green-light-2 {
  background-color: #6cc533;
}

.text-green-light-3 {
  color: #7ecd4d;
}

.text-hover-green-light-3:hover {
  color: #7ecd4d;
}

.bg-green-light-3 {
  background-color: #7ecd4d;
}

.text-green-light-4 {
  color: #91d466;
}

.text-hover-green-light-4:hover {
  color: #91d466;
}

.bg-green-light-4 {
  background-color: #91d466;
}

.text-green-light-5 {
  color: #a3db80;
}

.text-hover-green-light-5:hover {
  color: #a3db80;
}

.bg-green-light-5 {
  background-color: #a3db80;
}

.text-green-light-6 {
  color: #b5e299;
}

.text-hover-green-light-6:hover {
  color: #b5e299;
}

.bg-green-light-6 {
  background-color: #b5e299;
}

.text-green-light-7 {
  color: #c8e9b3;
}

.text-hover-green-light-7:hover {
  color: #c8e9b3;
}

.bg-green-light-7 {
  background-color: #c8e9b3;
}

.text-green-light-8 {
  color: #daf1cc;
}

.text-hover-green-light-8:hover {
  color: #daf1cc;
}

.bg-green-light-8 {
  background-color: #daf1cc;
}

.text-green-light-9 {
  color: #edf8e6;
}

.text-hover-green-light-9:hover {
  color: #edf8e6;
}

.bg-green-light-9 {
  background-color: #edf8e6;
}

.text-green-dark-1 {
  color: #40a500;
}

.text-hover-green-dark-1:hover {
  color: #40a500;
}

.bg-green-dark-1 {
  background-color: #40a500;
}

.text-green-dark-2 {
  color: #399200;
}

.text-hover-green-dark-2:hover {
  color: #399200;
}

.bg-green-dark-2 {
  background-color: #399200;
}

.text-green-dark-3 {
  color: #328000;
}

.text-hover-green-dark-3:hover {
  color: #328000;
}

.bg-green-dark-3 {
  background-color: #328000;
}

.text-green-dark-4 {
  color: #2b6e00;
}

.text-hover-green-dark-4:hover {
  color: #2b6e00;
}

.bg-green-dark-4 {
  background-color: #2b6e00;
}

.text-green-dark-5 {
  color: #245c00;
}

.text-hover-green-dark-5:hover {
  color: #245c00;
}

.bg-green-dark-5 {
  background-color: #245c00;
}

.text-green-dark-6 {
  color: #1c4900;
}

.text-hover-green-dark-6:hover {
  color: #1c4900;
}

.bg-green-dark-6 {
  background-color: #1c4900;
}

.text-green-dark-7 {
  color: #153700;
}

.text-hover-green-dark-7:hover {
  color: #153700;
}

.bg-green-dark-7 {
  background-color: #153700;
}

.text-green-dark-8 {
  color: #0e2500;
}

.text-hover-green-dark-8:hover {
  color: #0e2500;
}

.bg-green-dark-8 {
  background-color: #0e2500;
}

.text-green-dark-9 {
  color: #071200;
}

.text-hover-green-dark-9:hover {
  color: #071200;
}

.bg-green-dark-9 {
  background-color: #071200;
}

.text-grey {
  color: #8c92ac;
}

.text-hover-grey:hover {
  color: #8c92ac;
}

.bg-grey {
  background-color: #8c92ac;
}

.text-grey-light-1 {
  color: #989db4;
}

.text-hover-grey-light-1:hover {
  color: #989db4;
}

.bg-grey-light-1 {
  background-color: #989db4;
}

.text-grey-light-2 {
  color: #a3a8bd;
}

.text-hover-grey-light-2:hover {
  color: #a3a8bd;
}

.bg-grey-light-2 {
  background-color: #a3a8bd;
}

.text-grey-light-3 {
  color: #afb3c5;
}

.text-hover-grey-light-3:hover {
  color: #afb3c5;
}

.bg-grey-light-3 {
  background-color: #afb3c5;
}

.text-grey-light-4 {
  color: #babecd;
}

.text-hover-grey-light-4:hover {
  color: #babecd;
}

.bg-grey-light-4 {
  background-color: #babecd;
}

.text-grey-light-5 {
  color: #c6c9d6;
}

.text-hover-grey-light-5:hover {
  color: #c6c9d6;
}

.bg-grey-light-5 {
  background-color: #c6c9d6;
}

.text-grey-light-6 {
  color: #d1d3de;
}

.text-hover-grey-light-6:hover {
  color: #d1d3de;
}

.bg-grey-light-6 {
  background-color: #d1d3de;
}

.text-grey-light-7 {
  color: #dddee6;
}

.text-hover-grey-light-7:hover {
  color: #dddee6;
}

.bg-grey-light-7 {
  background-color: #dddee6;
}

.text-grey-light-8 {
  color: #e8e9ee;
}

.text-hover-grey-light-8:hover {
  color: #e8e9ee;
}

.bg-grey-light-8 {
  background-color: #e8e9ee;
}

.text-grey-light-9 {
  color: #f4f4f7;
}

.text-hover-grey-light-9:hover {
  color: #f4f4f7;
}

.bg-grey-light-9 {
  background-color: #f4f4f7;
}

.text-grey-dark-1 {
  color: #7e839b;
}

.text-hover-grey-dark-1:hover {
  color: #7e839b;
}

.bg-grey-dark-1 {
  background-color: #7e839b;
}

.text-grey-dark-2 {
  color: #70758a;
}

.text-hover-grey-dark-2:hover {
  color: #70758a;
}

.bg-grey-dark-2 {
  background-color: #70758a;
}

.text-grey-dark-3 {
  color: #626678;
}

.text-hover-grey-dark-3:hover {
  color: #626678;
}

.bg-grey-dark-3 {
  background-color: #626678;
}

.text-grey-dark-4 {
  color: #545867;
}

.text-hover-grey-dark-4:hover {
  color: #545867;
}

.bg-grey-dark-4 {
  background-color: #545867;
}

.text-grey-dark-5 {
  color: #464956;
}

.text-hover-grey-dark-5:hover {
  color: #464956;
}

.bg-grey-dark-5 {
  background-color: #464956;
}

.text-grey-dark-6 {
  color: #383a45;
}

.text-hover-grey-dark-6:hover {
  color: #383a45;
}

.bg-grey-dark-6 {
  background-color: #383a45;
}

.text-grey-dark-7 {
  color: #2a2c34;
}

.text-hover-grey-dark-7:hover {
  color: #2a2c34;
}

.bg-grey-dark-7 {
  background-color: #2a2c34;
}

.text-grey-dark-8 {
  color: #1c1d22;
}

.text-hover-grey-dark-8:hover {
  color: #1c1d22;
}

.bg-grey-dark-8 {
  background-color: #1c1d22;
}

.text-grey-dark-9 {
  color: #0e0f11;
}

.text-hover-grey-dark-9:hover {
  color: #0e0f11;
}

.bg-grey-dark-9 {
  background-color: #0e0f11;
}

.cardContainer {
  margin-top: 1em;
}
.cardContainer .title {
  text-align: center;
  padding: 1.5rem;
  color: #02155a;
}
.cardContainer .cards {
  display: flex;
  margin: 1em 0;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}
.cardContainer .card {
  width: 25%;
  box-shadow: -2px -2px 10px #8c92ac;
  margin-bottom: 3em;
  transition: transform 0.5s;
  border-radius: 15.3846153846px;
  background-color: #ffff99;
}
.cardContainer img {
  width: 100%;
  object-fit: contain;
  border-radius: 20px 20px 0 0;
}

.textBlock {
  padding: 1em;
}
.textBlock h2 {
  font-family: "Libre Baskerville", serif;
  text-align: left;
  color: #02155a;
}
.textBlock p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav .navbar_logo {
  width: 25%;
}
nav .navbar_logo .logo {
  width: 100%;
  height: 150px;
  object-fit: contain;
}
nav .list {
  display: flex;
  width: 70%;
  justify-content: space-between;
  list-style-type: none;
  margin-right: 20px;
}
nav .list a {
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
}
nav .icon {
  width: 5%;
  display: none;
}
nav .fa-bars {
  width: 100%;
  color: #ffff00;
  /* display: none; */
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  margin-top: 1.5rem;
}

.btn-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #02155a;
  margin-top: 1.5rem;
}
.btn-blue:hover {
  background-color: #0426a5;
}

.btn-outlined-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 1.5rem;
  border: 1px solid #02155a;
}
.btn-outlined-blue:hover {
  background-color: #02155a;
}

.btn-complement-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #02155a;
  margin-top: 1.5rem;
  color: #fbda60;
}
.btn-complement-blue:hover {
  color: #02155a;
  background-color: #face2e;
}

.btn-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffff00;
  margin-top: 1.5rem;
}
.btn-yellow:hover {
  background-color: #ffff4d;
}

.btn-outlined-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 1.5rem;
  border: 1px solid #ffff00;
}
.btn-outlined-yellow:hover {
  background-color: #ffff00;
}

.btn-complement-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffff00;
  margin-top: 1.5rem;
  color: white;
}
.btn-complement-yellow:hover {
  color: #ffff00;
  background-color: #ccccff;
}

.btn-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #47b700;
  margin-top: 1.5rem;
}
.btn-green:hover {
  background-color: #66ff05;
}

.btn-outlined-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 1.5rem;
  border: 1px solid #47b700;
}
.btn-outlined-green:hover {
  background-color: #47b700;
}

.btn-complement-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #47b700;
  margin-top: 1.5rem;
  color: #e3b7ff;
}
.btn-complement-green:hover {
  color: #47b700;
  background-color: #cf84ff;
}

.btn-grey {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #8c92ac;
  margin-top: 1.5rem;
}
.btn-grey:hover {
  background-color: #b8bccc;
}

.btn-outlined-grey {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 1.5rem;
  border: 1px solid #8c92ac;
}
.btn-outlined-grey:hover {
  background-color: #8c92ac;
}

.btn-complement-grey {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #8c92ac;
  margin-top: 1.5rem;
  color: white;
}
.btn-complement-grey:hover {
  color: #8c92ac;
  background-color: white;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}